.episodes {
  font-size: 1rem;

  &__count,
  &__data {
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
  }

  &__count {
    font-size: 20px;
    font-weight: 500;
    padding: 1em;
  }

  &__data {
    margin-top: 1em;
    padding: 0.5em 1em 2em 1em;
  }

  &__table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
  }

  &__header {
    border-bottom: 2px solid $color-black-01;
    padding: 1em;
  }

  &__row {
    background-color: $color-black-05;

    &:nth-child(2n) {
      background-color: $color-white;
    }
  }

  &__cell {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.75em 1em;
  }

  &__link {
    color: $color-blue;
  }
}
