/** Post-CSS normalize */
@import-normalize;

/** Custom rules added */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

label {
  display: none;
}

input {
  transition: border-color $duration-base;

  &:focus {
    outline: none;
    border-color: $color-blue;
  }
}

a {
  text-decoration: none;
}
